html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > div {
  width: 100%;
}
